/*index.html*/
body {
  min-width: 1440px;
  min-height: 2475px;
  margin: 0;
  padding: 0;

  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  background-color: #ffffff;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.clearfix:after {
  content: "";
  display: table;

  clear: both;
}

.main-header {
  border-bottom: 1px solid transparent;

  color: #000000;

  background-color: #eeeeee;
}

.main-navigation {
  padding-top: 50px;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.3s;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);  
}

.header-logo {
  float: left;
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.header-logo img {
  width: 160px;
  height: 65px;

  transition: all 0.3s;
}

.header-logo img:hover {
  opacity: 0.8
}

.header-logo img:active {
  opacity: 0.3;
}

.link-list {
  float: left;
  width: 600px;
  margin: 0;
  margin-top: 27px;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.link-list li {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;

  font-size: 16px;
  line-height: 30px;
}

.link-list li:first-child {
  margin-left: 0;
}

.cart {
  position: relative;

  float: right;
  width: 75px;
  margin-top: 27px;
  padding-left:  85px; 

  font-size: 16px;
  line-height: 30px;
  text-align: right;
}

.cart::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 45px;

  width: 15px;
  height: 15px;

  background: url("../img/sprite.png") no-repeat -269px -20px;
  opacity: 0.3;
}

.gallery-slide {
  position: relative;

  padding-top: 60px;
  padding-bottom: 85px;
}

.gallery-slide h2 {
  width: 560px;
  margin: 0;
  margin-bottom: 10px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;


}

.gallery-slide p {
  width: 460px;
  margin: 0;
  margin-bottom: 50px;

}

.btn {
  display: inline-block;
  padding: 16px 55px;

  color: #ffffff;
  font: inherit;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  border-radius: 3px;
  
  cursor: pointer;
  transition: all 0.3s; 
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-red {
  background-color: #fb565a;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-red:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px #009958;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px #ce961f;
}

.gallery-slide-img {
  position: absolute;
  top: 0;
  left: 430px;
}

.services {
  padding: 80px 0px;
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  float: left;
  width: 300px;
  margin-right: 100px; 
}

.services-item:last-child {
  margin-right: 0;
}

.services-item h3 {
  margin-top: 30px;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  margin-bottom: 35px;
}

.presention {
  padding: 80px 0px;
}

.introduction {
  position: relative;

  width: 660px;
  margin-bottom: 45px;
}

.introduction h2 {
  margin: 0;
  margin-bottom: 35px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.introduction p {
  margin: 0;
}

.introduction::after {
  content: "";
  position: absolute;
  top: 0;
  right: -500px;

  width: 360px;
  height: 208px;

  background: url("../img/nerds-illustration.jpg") no-repeat center;
}

.presention-left {
  float: left;
  width: 660px;
}

.presention-left p {
  margin: 0;
  margin-bottom: 25px;
  
  font-weight: 700;
  text-transform: uppercase;
}

.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-list li {
  position: relative;

  margin-bottom: 30px;
  margin-left: 35px;
}

.services-list li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.presention-right {
  float: right;
  width: 400px;
}

.presention-right > p {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 700;
  text-transform: uppercase;
}

.our-score {
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.our-score li p {
  margin: 0;
  margin-top: 25px
}

.our-score li {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  min-height: 100px;
  margin-right: 20px;

  font-size: 16px;
  line-height: 24px;
}

.our-score b {
  font-size: 45px;
  font-weight: 700;
}

.our-score sup {
  top: -12px;
  font-size: 30px;
}

.projects {
  min-height: 110px;
  margin-bottom: 80px;
  padding: 35px 30px;

  font-size: 0;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.projects-item {
  display: inline-block;
  width: 215px;
  height: 110px;
  margin-right: 80px;

  background: url("../img/sprite.png") no-repeat 0 0;
  opacity: 0.3;

  transition: all 0.3s;
}

.projects-item:last-child {
  margin-right: 0px;
}

.projects-item:hover {
  opacity: 1;
}

.projects-item.html-academy {
  background-position: -12px -125px;
}

.projects-item.borodinski {
  background-position: -16px -7px;;
}

.projects-item.pink {
  background-position: -315px -117px;;
}

.projects-item.mishka {
  background-position: -312px -8px;
}

/* Catalog.html*/

.page-title {
  width: 760px;
  font-size: 55px;
  margin: 95px auto;
}

.filter {
  float: left;
  width: 260px;
  margin-top: 55px;
}

.sub-title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.sub-title:first-child {
  margin-bottom: 55px;
}

.price-range {
  visibility: hidden;
  width: 260px;
  height: 135px;
  margin-bottom: 55px;
}

.filter ul {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  list-style: none;
}

.filter li {
  margin-bottom: 25px;
  padding-left: 35px; 
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
  display: none;
}

.filter label {
  position: relative;

  color: #283136;
  line-height: 20px;

  cursor: pointer;
}

.filter input:not(:disabled) + label:hover {
  color: #000000;
}

.radio-input span {
  position: absolute;
  display: inline-block;
  top: -3px;
  left: -35px;
  
  width: 19px;
  height: 19px;
  
  border: 3px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;

  transition: opacity 0.3s;
}

.filter input:not(:disabled) + label:hover span {
  opacity: 1;
}

.radio-input span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 9px;
  height: 9px;
  margin-top: -4.5px;
  margin-left: -4.5px;

  background-color: #4d4d4d;
  border-radius: 50%;

  transition: all 0.3s;

  transform: scale(0);
}

.filter input:checked + .radio-input span::before {
  transform: scale(1);
}

.filter input:disabled + label {
  opacity: 0.3;
  cursor: default;
}

.checkbox-input span {
  position: absolute;
  display: inline-block;
  top: -4px;
  left: -35px;
  
  width: 19px;
  height: 19px;
  
  border: 2px solid #4d4d4d;
  border-radius: 4px;
  opacity: 0.4;

  transition: opacity 0.3s;
}

.checkbox-input span::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 3px;
  
  width: 4px;
  height: 0px;

  background-color: #4d4d4d;
  border-radius: 1px;

  transform-origin: 0 0;
  transform: rotate(-45deg);
}

.checkbox-input span::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 8px;
  
  width: 0;
  height: 4px;

  background-color: #4d4d4d;
  border-radius: 1px;

  transform-origin: 0 0;
  transform: rotate(-45deg);
} 


input:checked + .checkbox-input span::before {
  animation-name: show-tip-started;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

input:checked + .checkbox-input span::after {
  animation-name: show-tip-finished;
  animation-delay: 0.15s;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes show-tip-started {
  100% {
    height: 10px;
  }
}

@keyframes show-tip-finished {
  100% {
    box-shadow: 8px 0 0 4px #ffffff;
    width: 19px;
  }
}

.catalog {
  float: right;
  width: 760px;
  margin-top: 55px;
  margin-bottom: 60px;
}

.sorting {
  min-height: 75px;
}

.sorting h3 {
  float: left;
}

.sorting ul {
  float: right;
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.sorting li {
  display: inline-block;
  margin-right: 25px;
}

.sorting li:last-child {
  margin-right: 50px;
}

.sort-type {
  font-size: 14px;
}

.sorting a {
  color: #000000;
  font: inherit;
  text-decoration: none;
  text-transform: uppercase;

  opacity: 0.3;
}

.sort-type.active a {
  opacity: 1;
}

.templates {
  margin-bottom: 10px;

  font-size: 0;
}

.templates-item {
  position: relative;

  display: inline-block;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 35px;
  padding-top: 40px;

  overflow: hidden;
  transition: all 0.7s;
}

.templates-item:nth-child(2n) {
  margin-right: 0px;
}

.templates-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.template-header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 41px;

  background-color: #e5e5e5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  
  transition: all 0.7s;
}

.templates-item:hover .template-header {
  background-color: #4c4c4c;
}

.template-header span, 
.template-header::before, 
.template-header::after {
  content: "";
  position: absolute;
  top: 50%;

  width: 15px;
  height: 15px;
  margin-top: -7.5px;

  border-radius: 50%;
  background-color: #ffffff;
}


.template-header::before {
  left: 16px;
}

.template-header span {
  left: 40px;
}

.template-header::after {
  left: 64px;
}

.templates-item img {
  display: block;

  outline: 1px solid #e5e5e5;
  outline-offset: -1px;

  transition: all 0.7s
}

.templates-item:hover img {
  filter: blur(3px);
}

.template-description {
  position: absolute;
  bottom: -230px;

  width: 360px;
  min-height: 230px;

  font-size: 16px;
  line-height: 18px;
  text-align: center;

  background-color: #eeeeee;

  transition: all 0.7s;
}

.templates-item:hover .template-description {
  bottom: 0;
}

.template-description h2 {
  margin-top: 30px;
  margin-bottom: 25px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.template-description p {
  width: 200px;
  margin: 0 auto; 
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 18px;
}

.panagination a {
  display: inline-block;
  min-width: 50px;
  margin-right: 10px;
  padding: 16px 0px;

  color: #000000;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;

  background-color: #eeeeee;

  transition: all 0.3s;

  cursor: pointer;
}

.panagination a:not(.active):hover {
  background-color: #dfdfdf;
}

.panagination a:not(.active):active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px #bfbfbf;
}

.panagination .active {
  outline: 3px solid #dbdbdb;
  outline-offset: -3px;
  background-color: #ffffff;
}

.panagination .next,
.panagination .prev {
  padding-left: 80px;
  padding-right: 80px;

  text-transform: uppercase;
}


/*End catalog.html*/

.map {
  position: relative;
  clear: both;

  width: 1160px;
  height: 416px;
}

.map img {
  position: absolute;
  left: 50%;

  margin-left: -720px;
}

.map:after {
  content: "";
  position: absolute;
  left: 685px;
  top: 75px;
  width: 160px;
  height: 190px;

  background: url("../img/map-marker.png") no-repeat;
}

.main-footer {
  padding: 70px 0;
}

.social {
  float: left;
  width: 300px;
  margin-right: 100px;

  font-size: 0;
}

.social-btn {
  position: relative;

  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 10px;

  background-color: #E1E1E1;
  border-radius: 50%;

  transition: all 0.3s;
}

.social-btn:hover {
  background-color: #E74246;
}

.social-btn:active {
  background-color: #D7373B;
}

.social-btn:active::after {
  opacity: 0.3;
}

.social-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;

  background: url("../img/sprite.png") no-repeat;

  transition: all 0.3s;
}

.vk::after {
  background-position: -257px -228px;;
}

.fb::after {
  background-position: -260px -73px;
}

.inst::after {
  background-position: -264px -134px;;
}

.discount {
  float: left;
  width: 560px;
  padding-top: 10px;
}

.discount strong {
  display: block;
  margin-bottom: 10px;

  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
}

.discount p {
  margin: 0;
}

