/*index.html*/
body {
  min-width: 1440px;
  min-height: 2475px;
  margin: 0;
  padding: 0;

  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  background-color: #ffffff;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.clearfix:after {
  content: "";
  display: table;

  clear: both;
}

.main-header {
  border-bottom: 1px solid transparent;

  color: #000000;

  background-color: #eeeeee;
}

.main-navigation {
  padding-top: 50px;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.3s;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);  
}

.header-logo {
  float: left;
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.header-logo img {
  width: 160px;
  height: 65px;

  transition: all 0.3s;
}

.header-logo img:hover {
  opacity: 0.8
}

.header-logo img:active {
  opacity: 0.3;
}

.link-list {
  float: left;
  width: 600px;
  margin: 0;
  margin-top: 27px;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.link-list li {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;

  font-size: 16px;
  line-height: 30px;
}

.link-list li:first-child {
  margin-left: 0;
}

.cart {
  position: relative;

  float: right;
  width: 75px;
  margin-top: 27px;
  padding-left:  85px; 

  font-size: 16px;
  line-height: 30px;
  text-align: right;
}

.cart::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 45px;

  width: 15px;
  height: 15px;

  background: url("../img/sprite.png") no-repeat -224px -5px;
  opacity: 0.3;
}

.gallery-slide {
  position: relative;

  padding-top: 60px;
  padding-bottom: 85px;
}

.gallery-slide h2 {
  width: 560px;
  margin: 0;
  margin-bottom: 10px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;


}

.gallery-slide p {
  width: 460px;
  margin: 0;
  margin-bottom: 50px;

}

.btn {
  display: inline-block;
  padding: 16px 55px;

  color: #ffffff;
  font: inherit;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  border-radius: 3px;
  
  cursor: pointer;
  transition: all 0.3s; 
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-red {
  background-color: #fb565a;
}

.btn-red:hover {
  background-color: #e74246;
}

.btn-red:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px #009958;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px #ce961f;
}

.gallery-slide-img {
  position: absolute;
  top: 0;
  left: 430px;
}

.services {
  padding: 80px 0px;
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  float: left;
  width: 300px;
  margin-right: 100px; 
}

.services-item:last-child {
  margin-right: 0;
}

.services-item h3 {
  margin-top: 30px;
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  margin-bottom: 35px;
}

.presention {
  padding: 80px 0px;
}

.introduction {
  position: relative;

  width: 660px;
  margin-bottom: 45px;
}

.introduction h2 {
  margin: 0;
  margin-bottom: 35px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.introduction p {
  margin: 0;
}

.introduction::after {
  content: "";
  position: absolute;
  top: 0;
  right: -500px;

  width: 360px;
  height: 208px;

  background: url("../img/nerds-illustration.jpg") no-repeat center;
}

.presention-left {
  float: left;
  width: 660px;
}

.presention-left p {
  margin: 0;
  margin-bottom: 25px;
  
  font-weight: 700;
  text-transform: uppercase;
}

.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-list li {
  position: relative;

  margin-bottom: 30px;
  margin-left: 35px;
}

.services-list li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.presention-right {
  float: right;
  width: 400px;
}

.presention-right > p {
  margin: 0;
  margin-bottom: 50px;

  font-weight: 700;
  text-transform: uppercase;
}

.our-score {
  margin: 0;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.our-score li p {
  margin: 0;
  margin-top: 25px
}

.our-score li {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  min-height: 100px;
  margin-right: 20px;

  font-size: 16px;
  line-height: 24px;
}

.our-score b {
  font-size: 45px;
  font-weight: 700;
}

.our-score sup {
  top: -12px;
  font-size: 30px;
}

.projects {
  min-height: 110px;
  margin-bottom: 80px;
  padding: 35px 30px;

  font-size: 0;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.projects-item {
  display: inline-block;
  width: 215px;
  height: 110px;
  margin-right: 80px;

  background: url("../img/sprite.png") no-repeat 0 0;
  opacity: 0.3;
}

.projects-item:last-child {
  margin-right: 0px;
}

.projects-item:hover {
  opacity: 1;
}

.map {
  width: 1160px;
  height: 416px;
  overflow: hidden;
}

.main-footer {
  padding: 70px 0;
}

.social {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.discount {
  float: left;
  width: 560px;
}

/* Catalog.html*/

.page-title {
  width: 760px;
  font-size: 55px;
  margin: 95px auto;
}

.preferences {
  float: left;
  width: 260px;
}

.templates {
  float: right;
  width: 760px;

  font-size: 0;
}

.templates-item {
  display: inline-block;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 35px;
}

.templates-item:nth-child(2n) {
  margin-right: 0px;
}

.template-description {
  display: none;
}